body {
	font-family: 'Josefin Sans';
	background-color: #fffafb;
}
.hero-banner-img {
	position: absolute;
	right: 40px;
	top: 0px;
	width: 700px;
	height: 900px;
	margin-top: -330px;
}

.exercise-card {
	width: 400px;
	height: 445px;
	background: #fff;
	border-top: 4px solid #ff2625;
	border-bottom-left-radius: 20px;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-bottom: 10px;
	transform: scale(1, 1);
	transition: 0.3s all ease-in-out;
}

.exercise-video {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 387px;
	height: 381px;
	text-decoration: none;
	border-bottom: 3px solid #ff2625;
}

@media screen and (max-width: 1200px) {
	.hero-banner-img {
		display: none;
	}

	.exercise-card {
		width: 320px;
	}

	.exercise-video {
		width: 320px;
		height: 300px;
	}
}

@media screen and (max-width: 400px) {
	.exercise-card {
		width: 280px;
	}
}
